[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=st
GenericName=terminal emulator
Comment=A terminal emulator
Categories=Utility;
TryExec=st
Exec=st
Icon=utilities-terminal
Keywords=x;x11;terminal-emulator;
