[Desktop Entry]
Version=1.0
Type=Application
Name=Xcolor picker
GenericName=Color picker
Comment=color picker
Categories=Utility;
TryExec=cpick
Exec=cpick
Icon=gpick
Keywords=x;x11;colorpicker;
